section.repository-list{

    header{
        color: white;
        background: #ad8cfa; 
        height: 60px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
        font-size: 20px;
    }
    ul{
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;


        li{
            display: flex;
            flex-direction: column;
            text-align: left;
            align-self: left;
            justify-content: left;
            background-color: #ad8cfa;
            width: 20%;
            padding: 10px;
            margin: 20px;
            border-radius: 4px;
            min-width: 20px;

            strong{
                font-size:24px;
            }
            p{
                font-size: 14px;
                color: #444;
                margin-top: 8px;
                margin-bottom: 8px;
            }

            a{
                margin-top: 16px;
                background-color: #8257e6;
                border-radius: 4px;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                margin-top: auto;
                font-size: 16px;

            }
            a:hover{
                background-color: #5e23e7;
            }
            
        }
    }
}